body, html{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  height: 5em;
  background-color: #6dd0f6;
  font-family: Open+sans;
  color: white;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 1.7em;
  text-align: center;
  position: fixed;
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 10px 0;
  background-color: #888;
  font-family: Open+sans;
  color: white;
  text-align: center;
}

.table_content{
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

input{
  height: 2em;
  width: 20em;
  margin-bottom: 7px;
  margin-left: 10px;
}
#selectSast{
  margin-bottom: 7px;
  margin-left: 10px;
}

#lblIme, #lblUloga, #lblBrTele, #lblSastavnica, #lblSastavnica_02, #lblAdresa, #lblWeb, #lblMail, #lblKatedra, #lblBrMobi, .lbl{
  width: 20em;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 7px;
  font-family: Open+sans;
}
#td_text{
    font-family: Open+sans;
}

.table_content select{

}
.box{
  border: solid 2px #6dd0f6;
}
